body{
    margin:0;
    padding: 0;
    background-color: #ffffff;
}

#Home {
    position: relative;
}

.home-container {
    background-image: url('images/homeimage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
    padding-top: 25px;
}
.home-container h1 {
    font-size: 4rem;
    text-align: center;
    color: white;
    margin: 0;
}

.home-container p {
    font-size: 1.5rem;
    text-align: center;
    color: white;
    margin: 10px 0 0;
}


